.container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    // background: rgb(146,213,249);
    // background: linear-gradient(288deg, rgba(146,213,249,1) 2%, rgba(64,213,85,1) 87%);
    background-image: url('./../img/boston.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.inner-header {
    color: honeydew;
    display: flex;
    justify-content: space-between;
    .inner-header-icon {
        font-family: 'Londrina Sketch', cursive;
        font-size: 30px;
        border: 1px solid honeydew;
        padding: 0 6px;
        border-radius: 5px;
        margin: 3vh 2.5vw;
    }
    .inner-header-content {
        margin: auto 2.5vw;
        display: flex;
        .inner-header-content-item {
            margin: 0 10px;
            color: honeydew;
        }
    }
}

.inner {
    width: 90%;
    height: 30%;
    // border: 2px solid rgb(231, 198, 198);
    // border-radius: 10px;
    position: absolute;
    margin: auto;
    top: 5%;
    bottom: 40%;
    left: 0;
    right: 0;
}

.main-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .main-name-item {
        font-size: 3.5rem;
        font-family: monospace;
        font-weight: 700;
        color: honeydew;
    }
}

.tags {
    width: 90%;
    // height: 60%;
    position: absolute;
    margin: auto;
    top: 47%;
    bottom: 5%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .tag-name {
        background-color: rgb(38, 41, 44);
        font-size: 1.6rem;
        font-family: monospace;
        font-weight: 700;
        color: rgb(218, 196, 196);
        line-height: 1.2;
        margin: 5px;
    }
}

.go-button {
    position: relative;
    font-size: 1.8rem;
    margin-top: 10px;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    margin-top: 10%;
    transition: linear 0.3s;
    a {
        color: #e6e6e6;
    }
}
.go-button a:after {
    content: '';
    display: block;
    border-bottom: 2px solid #e6e6e6;
    width: 0;
    position: absolute;
    left: 0;
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
.go-button a:hover:after {
    // background-color: rgb(138, 130, 207);
    width: 100%; 
}